<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.spring.talk.dao.TalkMapper">

	<!-- 사용할 map설정 -->
	<resultMap type="talkRoomVO" id="talkMap">
		<result property="talkVO.message" column="message"/>
		<result property="talkVO.chat_date" column="chat_date"/>
		<result property="talkMemberVO.room_name" column="room_name"/>
	</resultMap>
	
	<!-- sql태그 -->
	<sql id="talkSub">
		FROM sptalkroom JOIN sptalk_member m USING(talkroom_num)
		LEFT OUTER JOIN (SELECT 
							talkroom_num,
							mem_num,
							COUNT(*) room_cnt
						FROM sptalk_read
						WHERE mem_num=#{mem_num}
						GROUP BY talkroom_num,mem_num) USING (talkroom_num)
		LEFT OUTER JOIN (SELECT 
							talk_num,
							<![CDATA[
							REPLACE(REPLACE(REPLACE(message,'<','&lt;'),'>','&gt;'),'@{member}@','') message,
							]]>
							chat_date,
							talkroom_num
						FROM sptalk WHERE talk_num IN (SELECT
															MAX(talk_num) talk_num
														FROM sptalk
														GROUP BY talkroom_num))
		USING(talkroom_num)
		WHERE m.mem_num=#{mem_num}
		<if test="keyword != null and keyword != ''">
			AND room_name LIKE '%' || #{keyword} || '%'
		</if>
	</sql>
	
	<!-- 개수 -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT
		  COUNT(*)
		FROM sptalkroom
	</select>
	
	<!-- 목록 -->
	<select id="selectTalkRoomList" parameterType="map" resultMap="talkMap">
		SELECT
		  *
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT 
			  		  *
			  		FROM sptalkroom
			  		ORDER BY talkroom_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
</mapper>
